.work-simple-section {
  display: flex;
  align-items: center;
}
.work-simple-title {
  color: var(--secondary);
  margin: 20px 0;
  position: relative;
}
.work-simple-heading {
  color: var(--third);
  position: relative;
}

.work-simple-right {
  margin-left: 50px;
  position: absolute;
}

.work-simple-right-para {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -150px;
  font-size: 20px;
  background-color: #112240;
  padding: 20px;
  border-radius: 3px;
  z-index: 222;
  margin: 20px 0;
}

.work-simple-right,
.work-simple-right-footer {
  position: relative;
}
.work-simple-right-footer span {
  margin: 10px;
}
.work-simple-right-footer-icon {
  margin-top: 20px;
}

.work-simple-img {
  opacity: 0.5;
  border-radius: 5px;
  z-index: 99;
  position: absolute;
  transition: var(--trans);
}

.work-simple-img-bg-section {
  width: 600px;
  height: 375px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background-color: #1d4965;
  transition: var(--trans);
}
.work-simple-img:hover {
  opacity: 1;
  transition: var(--trans);
  transform: rotate(7deg);
}
.work-simple-img:hover ~ .img-section2 {
  position: relative;
  transition: var(--trans);
}
.work-simple-img:hover ~ .work-simple-img-section {
  transform: rotate(2deg);
}

/* ============================================================= */
.work-simple-two-section {
  display: flex;
  align-items: center;
}
.work-simple-two-title {
  color: var(--secondary);
  margin: 20px 0;
  position: relative;
}
.work-simple-two-heading {
  color: var(--third);
  position: relative;
}
.work-simple-two-left {
  position: relative;
}

.work-simple-two-right {
  position: absolute;
}

.work-simple-two-right-para {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  background-color: #112240;
  padding: 20px;
  border-radius: 3px;
  z-index: 222;
  margin: 20px 0;
}

.work-simple-two-right,
.work-simple-two-right-footer {
  position: relative;
}
.work-simple-two-right-footer span {
  margin: 10px;
}
.work-simple-two-right-footer-icon {
  margin-top: 20px;
}

.work-simple-two-img {
  opacity: 0.5;
  border-radius: 5px;
  z-index: 99;
  position: absolute;
  right: 100px;
  transition: var(--trans);
}

.work-simple-two-img-bg-section {
  width: 600px;
  height: 375px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background-color: #1d4965;
  transition: var(--trans);
  right: 100px;
}
.work-simple-two-img:hover {
  opacity: 1;
  transition: var(--trans);
  transform: rotate(7deg);
}
.work-simple-two-img:hover ~ .img-section2 {
  position: relative;
  transition: var(--trans);
}
.work-simple-two-img:hover ~ .work-simple-two-img-section {
  transform: rotate(2deg);
}

.rrr {
  position: relative;
  right: 150px;
}
