.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #15171c;
  flex-wrap: wrap;
  position: relative;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h3 {
  font-size: 30px;
  font-weight: bolder;
  color: var(--third);
}

.footer-link {
  font-size: 16px;
  color: var(--third);
  line-height: 25px;
}

.footer-link a {
  color: var(--third);
}

.footer-link a:hover {
  color: #dd4242;
}

.footer-paragraph {
  font-size: 16px;
  color: var(--third);
  line-height: 25px;
}

.footer-column h3 {
  margin-bottom: 30px;
}

.footer-column ul li {
  font-size: 16px;
  line-height: px;
}

.footer-column ul li a:hover {
  color: #dd4242;
  transition: 0.5s;
}

.footer-form {
  display: flex;
  align-items: center;
}

.subscribe {
  background-color: #15171c;
  transition: 0.5s;
  height: 35px;
  border: 1px solid #dd4242;
  border-radius: 50px;
  color: #fff;
  outline: none;
}

.subscribe:focus {
  border: none;
  outline: none;
  background: none;
}

.subscribe-input {
  border-radius: 5rem;
  outline: none;
  border: 0.1rem solid #d1d1d1;
  font-size: 0.7rem;
}

::placeholder {
  color: #d1d1d1;
}

.subscribe-btn {
  padding: 0.5rem 1.25rem;
  border-radius: 5rem;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  color: #fff;
  font-size: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer-column {
    flex: 1 0 100%;
    margin: 0 0 20px 0;
  }

  .subscribe {
    width: 250px;
  }

  .subscribe-input {
    width: 150px;
    font-size: 0.7rem;
  }

  .card-content {
    position: absolute;
    top: 27%;
    left: 35%;
    border-radius: 1rem;
    padding: 4rem 0.5rem;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    text-align: center;
  }
}
