.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.blog-card {
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  background: url("/public/abdur-rahaman-sultany-full-stack-developer-mern-stack-developer-web-developer-dev-rahamn-rahaman-d.png")
    center/cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-card:hover .blog-details {
  transform: translateY(0);
}

.blog-details {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

h3 {
  margin-top: 0;
  font-size: 40px;
}

p {
  margin: 10px 0;
  font-size: 19px;
  color: #fff;
  line-height: 20px;
}

.read-more-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}
